---
import { ViewTransitions } from 'astro:transitions';

import '@/styles/globals.css';

import Hi from '@/components/hi';
import Header from '@/components/sections/Header.astro';
import { buttonVariants } from "@/components/ui/button"

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="color-scheme" content="dark">

		<!-- Primary Meta Tags -->
		<title>{frontmatter.title}</title>
		<meta name="title" content={frontmatter.title} />
		<meta name="description" content={frontmatter.description} />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={`pranshujha.com${frontmatter.url}`} />
		<meta property="og:title" content={frontmatter.title} />
		<meta property="og:description" content={frontmatter.description} />
		<meta property="og:image" content="/meta.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={`pranshujha.com${frontmatter.url}`} />
		<meta property="twitter:title" content={frontmatter.title} />
		<meta property="twitter:description" content={frontmatter.description} />
		<meta property="twitter:image" content="/meta.jpg" />

		<ViewTransitions />
		
	</head>
	<body class="dark px-4 pt-8 md:pt-0 pb-20 sm:m-4 md:m-8 !mx-auto max-w-screen-lg lg:pl-[calc((100vw-100%)/2)]">
		<Hi client:only="react" />
		<Header />
		<a class={buttonVariants({ variant: "outline", size: "sm", class: "mb-4 group" })} href="/blog">
			<svg class="w-4 h-4 group-hover:-translate-x-1 transition-transform duration-300 ease-in-out" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
			Back to Blog
		</a>
		<article class="text-gray-900 dark:text-gray-400 prose dark:prose-invert break-words max-w-none prose-headings:font-medium prose-img:w-full prose-video:w-full prose-img:rounded-md prose-video:rounded-md prose-a:link prose-a:no-underline prose-pre:rounded-md" transition:animate="fade">
			<h1>{frontmatter.title}</h1>
			<slot />
		</article>
	</body>
</html>
